@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 99.4vh;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  padding: 10px 30px;
  border: 2px solid black;
  font-size: 2rem;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: rgb(14, 13, 13);
}

.logo a {
  font-weight: bold;

  color: rgb(14, 13, 13);
  text-decoration: none;
}

.my-meals {
  text-decoration: underline;
}

.borderbox {
  width: 100%;
  border: 3px solid black;
  padding: 2.5%;
}

.footer {
}

.footerText {
  font-family: Roboto, sans-serif;
  margin-bottom: 0;
  border-bottom: none;
}

.endblackbox {
  /* margin-top: 0; */
  background-color: grey;
  height: 2rem;
}

.meal-info {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.the-meal {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.the-meal-img {
  height: 75%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.the-meal-name {
  font-size: 2rem;
}

.like-comment-cont {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.like-cont {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.fa-heart:active {
  color: red;
}

.pop-up {
  display: none;
}